@model IEnumerable<Ex01Day48.Models.Salary>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payband)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Da)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InHandSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payband)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Da)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InHandSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
